<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form action="get" method="GET">
        <fieldset>
            <legend>GET</legend>
            <input type="text" name="username" autocomplete="off">
            <input type="submit">
        </fieldset>
    </form>
    <form action="/" method="POST">
        <fieldset>
            <legend>POST</legend>
            <input type="text" name="username" autocomplete="off">
            <input type="submit">
        </fieldset>
    </form>

    
</body>
</html>